body{
    margin:0;
}

header{
    background-color:#16213E;
    padding:10px 20px;
}
.menu-container{
    list-style:none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0;
    padding:0;
}

.menuBar{
    display: flex;
    gap:20px;
    flex-direction: row-reverse;
}

.menuBar li{
    list-style:none;
}

.menuBar a{
    color: white;
    text-decoration:none;
    padding: 9px 12px;
    
}

.logos{
    display:flex;
    gap:15px;
}

.logo-icon{
    width:24px;
    height:24px;
}